@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

body {
  height: 100vh;
  padding: 35px;

   background: url("https://static.pexels.com/photos/6663/desk-white-black-header.jpg") no-repeat center center fixed;
  /*background-image: url("./images/pic.jpg");*/
  background-size:auto;
  color: white;

  /* font-family: "Montserrat", sans-serif; */
  font-family: "Pacifico", cursive;

}
#sagnik {
  letter-spacing: 3px
  font-weight: 500;
  font-size: 50px;
  text-align: center;
  color: black;
}
/*#sagnik{
    display: inline-block;
    animation: mover 6s linear infinite;
}*/
@keyframes mover{
    0%{
        text-shadow: 0 0 30px rgb(0, 0, 0,0);
    }
    50%{
        text-shadow: 0 0 30px rgb(0, 0, 0,0.3);
        transform: translateY(30px);
    }
    100%{
        text-shadow: 0 0 30px rgb(0, 0, 0,0);

    }
}
span:nth-child(1){
    animation-delay:0.5s;
}
span:nth-child(2){
    animation-delay:1s;
}

span:nth-child(3){
    animation-delay:1.5s;
}

span:nth-child(4){
    animation-delay:2s;
}

span:nth-child(5){
    animation-delay:2.5s;
}
span:nth-child(6){
    animation-delay:3s;
}
span:nth-child(7){
    animation-delay:3.5s;
}


#focusTime ,#breakTime{
    color: white;
}

@media screen and (min-width: 1000px){
  #sagnik {
    letter-spacing: 3px;
    font-weight: 500;
    font-size: 50px;
    text-align: center;
    color: black;
    position: relative;
    bottom: -6%;
}

  .clock{
    position: relative;
    right:28%;
    top:6%;

  }
  .btn-group{
    position: relative;
right: 29%;
top: 7%;
  }
  .pomodoro{
    position: relative;
bottom: 19%;
left: 44%;
  }
}





input {
  transition: 0.5s ease-in-out;
  margin: 10px 0;
  font-size: 18px;
  padding: 5px;
  background: rgba(6, 15, 146, 0.5);
  /* background: rgb(255,255 ,255green, blue); */
  border: none;
}
.btn-group {
  display: flex;
  justify-content:center;
  align-items: center;
  height: 10%;
  margin: 35px 0;
}
button {
  margin: 5px;
  padding: 10px;
  border: black;
  font-size: 18px;
  transition: 0.5s ease-in-out;
  border-radius: 12px
}
label {
  font-size: 12px;
}
form {
  height: 20%;
  display: flex;
  flex-direction: column;
  padding: 0;
  max-width: 370px;
  margin: 5px auto;

}
form button {
  background: #171010;
  width: 100%;
  margin: 5px 0;
  color: white;
}
.start {
  background: blue;
  color:black;
}
.break {
  background: rgb(0, 199, 116);
  color: #000000;
}
.reset {
  background: rgb(211, 14, 57);
  color: #000000;
}
.pause {
  background: rgb(253, 143, 17);
}
.resume {
  background: rgb(131, 10, 252);
  color: white;
}
.clock {
  padding: 3px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  height: 30%;
  font-size: 24px;
  color: white;
}
.progress-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.progress-ring__circle {
  transition: 0.5s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke: rgb(51, 65, 255);
}

footer {
  position: fixed;
  bottom: 4px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.danger {
  stroke: rgb(243, 17, 28);
  animation: pulse 0.9s ease-in-out infinite;
}

@keyframes pulse {
  0%,
  100% {
    transform: rotate(-90deg) scale(1);
  }
  50% {
    transform: rotate(-90deg) scale(1.05);
  }
  75% {
    transform: rotate(-90deg) scale(0.8);
  }
}
@media screen and (max-width: 475px) {
  form{
    height: 50%;
  }
  footer {
    position: static;
  }
  #sagnik{
    position: relative;
font-size: 20px;
left: 0%;
top: 5%;
  }
  .pomodoro{
    position: absolute;
    top: 85%;
left: 50%;
  }
}
@media screen and (max-width: 800px) and (min-width:500px){
  body {
    display: grid;
    grid-template-areas:
      "head head"
      "clock form"
      "btns ji";

  }
  .btn-group {
    grid-area: btns;
    justify-content: center;
    align-items: center;
    position: absolute;
      top: 39%;
      left: 31%;

  }
  .clock {
    grid-area: clock;
    height: 100%;
    position: absolute;
  bottom: 20%;
  left: 48%;
  }
  h1 {
    grid-area: head;

    align-self: center;
  }
  form {
    align-self: center;
    justify-self: center;
    grid-area: form;
    width: 50%;
    justify-content: space-around;
  }
  footer {
    width: 100%;
  }
 #sagnik{
   position: relative;
   bottom:40px;
   right:-13px;
   font-size: 25px;
   font-weight: bold;
 }
 .pomodoro{
   position: absolute;
   top: 77%;
       left: 49%;
 }
}


body {
   background: url("https://static.pexels.com/photos/6663/desk-white-black-header.jpg") no-repeat center center fixed;
/*  background-image: url("./images/pic.jpg");*/
  background-size: cover;

}
.pomodoro {

  transform: translate(-50%, -50%);
  width: 500px;
  padding-top: 15px;
  padding-bottom: 25px;
}
p {
  text-align: center;
  /* color: white; */
  color: rgb(255, 255, 255);
}
.flip-clock-wrapper{
  max-width: 460px;
  margin: 3em auto 2em;
  display: flex;
  justify-content: center;
}
.col-md-4{
  display: flex;
  justify-content: center;
}
.col-md-2{
  display: flex;
  justify-content: center;
  height: 34px;
  align-items: center;
}
.counter{
  display: flex;
  justify-content: center;
}
.clock{
  margin-top: 30px;
}
.container {
  width: 500px;
}
.middle{
    display:inline-block;
}
